
.header__aside {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    /* HARD  */
    min-height: 1024px;
    text-align: center;
}
.header__title {
    font-weight: 800;
    font-size: 12.5rem;
    line-height: 10rem;
    color: #FFF;
    opacity: 0.07;
    max-width: 467px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}
.logo img {
    width: 10rem;
    margin-bottom: 2em;
}
.menu__list {
    color: #FFF;
}
.menu__list a {
    text-decoration: none;
}
.menu__list span {
    display: block;
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 0.8rem;
    color: #FFF;
    text-decoration: none;
    letter-spacing: 3px;
    padding-top: 6px;
    text-transform: none;
}
.header__date {
    font-weight: 800;
    font-size: 4.5rem;
    line-height: 4rem;
    color: #FFFFFF;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.header__date span {
    display: block;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.3rem;
    text-align: center;
    letter-spacing: 1.4px;
    color: #FFFFFF;
}
.header__location {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 0.8rem;
    letter-spacing: 1.05px;
    color: #FFF;
    text-transform: none;
}
.header__location::before {
    content: url('../images/location-icon.svg');
    margin-right: 0.5rem;
}
.header__map {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}
.map__point1 {
    animation: fade-in 0.5s;
}
.map__point2 {
    opacity: 0;
    animation: fade-in 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.map__point3 {
    opacity: 0;
    animation: fade-in 0.5s;
    animation-delay: 1s;
    animation-fill-mode: both;
}
.map__point4 {
    opacity: 0;
    animation: fade-in 0.5s;
    animation-delay: 1.5s;
    animation-fill-mode: both;
}
.map__point5 {
    opacity: 0;
    animation: fade-in 0.5s;
    animation-delay: 2s;
    animation-fill-mode: both;
}
.map__way {
    animation: way-animation 3s;
    animation-delay: 2.5s;
    animation-fill-mode: both;
    stroke-dasharray: 560;
    stroke-dashoffset: 560;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes way-animation {
    to {
        stroke-dashoffset: 0;
    }
}
.header__arrows {
    position: absolute;
    bottom: 2.5rem;
    left: 12.5rem;
    z-index: 3;
    animation: arrow-down 2s infinite;
    animation-delay: 0.5s;
}
@keyframes arrow-down {
    0%{
        opacity: 0.2;
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
    }
}
.header__slider {
    overflow: hidden;
    position: relative;
}
input[name="header__slider-radio"] {
    position: absolute;
    visibility: hidden;
}
.header__slider-items {
    width: 400%;
    overflow: hidden;
    display: flex;
}
.header__slider-item {
    /* HARD  */
    min-height: 1024px;
    width: 25%;
    transition: opacity 1.2s ease;
    background-image: url('../images/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.slider-item__info {
    position: absolute;
    right: 5rem;
    bottom: 7.5rem;
}
.slider-item__info-subtitle {
    margin-bottom: 0.75rem;
}
.slider-item__info-title {
    margin-bottom: 3.1rem;
}
.slider-item__info-subtext {
    margin-bottom: 0.6rem;
}
.slider-item__info-text {
    margin-bottom: 0.95rem;
}
.slider-item__info-link {
    display: block;
    text-align: right;
}
.header__slider-navigation {
    display: flex;
    position: absolute;
    right: 5rem;
    bottom: 2rem;
}
.bar {
    cursor: pointer;
}
.bar + .bar {
    margin-left: 2.5rem;
}
.bar__line {
    height: 0.25rem;
    width: 12.5rem;
    border-radius: 0.6rem;
    transition: all 0.2s ease-in;
    background-color: #FFF;
}
.bar:hover .bar__line {
    transform: scale(1.05);
    background-color: #4AF6CD;
}
.bar-selected .bar__line {
    background-color: #4AF6CD;
}
.bar__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.4rem;
}
.bar__info-number {
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 2.1rem;
    color: #FFFFFF;
}
.bar__info-name {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: right;
    color: #FFFFFF;
}
#header__slider-radio0:checked ~ .s1 {
    margin-left: 0;
}
#header__slider-radio1:checked ~ .s1 {
    margin-left: -25%;
}
#header__slider-radio2:checked ~ .s1 {
    margin-left: -50%;
}
#header__slider-radio3:checked ~ .s1 {
    margin-left: -75%;
}