:root {
    font-size: calc(5px + 0.6vw);
    font-family: 'Fira Sans', sans-serif;
    background-color: #171919;
    text-transform: uppercase;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper {
    margin-right: 5rem;
}

.hide {
    opacity: 0;
    /* display: none; */
}

.subtitle-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.5rem;
    opacity: 0.5;
    color: #FFFFFF;
    font-weight: 400;
}
.subtitle-left::before {
    content: "";
    display: block;
    width: 5rem;
    height: 2px;
    opacity: 0.5;
    background-color: #FFFFFF;
    margin-right: 1.4rem;
}

.huge-title {
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 800;
    color: #FFF;
    text-align: right;
}

.title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 5.4rem;
    text-align: right;
    color: #FFF;
}

.main-button {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 2.2rem;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
}
.main-button span {
    margin-left: 0.5rem;
    display: flex;
    padding: 0.2rem;
    background-color: #4AF6CD;
}
.main-button span::after {
    content: url('../images/button-arrow.svg');
}